.definition-table {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 20px;
  background-color: #3f3c3c;
  color: #ffffff;
}

.audio {
  width: 100%;
  margin: 1.5rem auto;
}

.audio h2 {
  padding: 1rem;
}

.subtitle {
  font-size: 3rem;
  font-family: "Barlow", sans-serif;
}

.result {
  scrollbar-width: 1px;
}

.span {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
}

.def-font {
  color: #000000;
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (max-width: 576px) {
  .definition-table {
    padding: 0.5rem;
  }

  .audio {
    margin: 1rem auto;
  }

  .audio h2 {
    padding: 0.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .span {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Barlow", sans-serif;
  }

  .def-font {
    color: #000000;
    font-weight: 400;
    font-size: 1.5rem;
  }
}
