html,
body {
  overflow-x: hidden;
}

.dictionary-section {
  min-height: 100vh;
  background-color: #c7bbbb;
}

.items-cover {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .items-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
